accelerate==0.33.0 ; python_version >= "3.11" and python_version < "4.0"
audioread==3.0.1 ; python_version >= "3.11" and python_version < "4.0"
ctc-forced-aligner @ git+https://github.com/MahmoudAshraf97/ctc-forced-aligner.git@553b0fd968dc85d81bda16971edfa39493979ebc ; python_version >= "3.11" and python_version < "4.0"
fastapi==0.110.1 ; python_version >= "3.11" and python_version < "4.0"
faster-whisper==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.16.1 ; python_version >= "3.11" and python_version < "4.0"
huggingface-hub==0.24.7 ; python_version >= "3.11" and python_version < "4.0"
humanfriendly==10.0 ; python_version >= "3.11" and python_version < "4.0"
hyperpyyaml==1.2.2 ; python_version >= "3.11" and python_version < "4.0"
lazy-loader==0.4 ; python_version >= "3.11" and python_version < "4.0"
librosa==0.10.2.post1 ; python_version >= "3.11" and python_version < "4.0"
lightning-utilities==0.11.8 ; python_version >= "3.11" and python_version < "4.0"
lightning==2.4.0 ; python_version >= "3.11" and python_version < "4.0"
matplotlib==3.9.2 ; python_version >= "3.11" and python_version < "4.0"
more-itertools==10.5.0 ; python_version >= "3.11" and python_version < "4.0"
nltk==3.6.5 ; python_version >= "3.11" and python_version < "4.0"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "4.0"
openai-whisper @ git+https://github.com/openai/whisper.git@25639fc17ddc013d56c594bfbf7644f2185fad84 ; python_version >= "3.11" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.11" and python_version < "4.0"
pandas==2.2.3 ; python_version >= "3.11" and python_version < "4.0"
pillow==11.0.0 ; python_version >= "3.11" and python_version < "4.0"
pyannote-audio==3.1.1 ; python_version >= "3.11" and python_version < "4.0"
pydantic-core==2.23.4 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.9.2 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.18.0 ; python_version >= "3.11" and python_version < "4.0"
pyparsing==3.2.0 ; python_version >= "3.11" and python_version < "4.0"
pyreadline3==3.5.4 ; sys_platform == "win32" and python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
pytorch-lightning==2.4.0 ; python_version >= "3.11" and python_version < "4.0"
pytorch-metric-learning==2.6.0 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "4.0"
regex==2024.9.11 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.11" and python_version < "4.0"
scikit-learn==1.5.2 ; python_version >= "3.11" and python_version < "4.0"
scipy==1.14.1 ; python_version >= "3.11" and python_version < "4.0"
setuptools==70.1.1 ; python_version >= "3.11" and python_version < "4.0"
sortedcontainers==2.4.0 ; python_version >= "3.11" and python_version < "4.0"
soundfile==0.12.1 ; python_version >= "3.11" and python_version < "4.0"
speechbrain==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
starlette==0.37.2 ; python_version >= "3.11" and python_version < "4.0"
sympy==1.13.3 ; python_version >= "3.11" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
tokenizers==0.15.2 ; python_version >= "3.11" and python_version < "4.0"
torch-audiomentations==0.11.1 ; python_version >= "3.11" and python_version < "4.0"
torch-pitch-shift==1.2.5 ; python_version >= "3.11" and python_version < "4.0"
torch==2.4.1 ; python_version >= "3.11" and python_version < "4.0"
torchaudio==2.4.1 ; python_version >= "3.11" and python_version < "4.0"
torchmetrics==1.5.0 ; python_version >= "3.11" and python_version < "4.0"
tqdm==4.66.5 ; python_version >= "3.11" and python_version < "4.0"
transformers==4.39.3 ; python_version >= "3.11" and python_version < "4.0"
uuid==1.30 ; python_version >= "3.11" and python_version < "4.0"
uvicorn==0.22.0 ; python_version >= "3.11" and python_version < "4.0"
websockets==13.1 ; python_version >= "3.11" and python_version < "4.0"
whisperx @ git+https://github.com/m-bain/whisperx.git@9e3a9e0e38fcec1304e1784381059a0e2c670be5 ; python_version >= "3.11" and python_version < "4.0"
yt-dlp==2024.10.7 ; python_version >= "3.11" and python_version < "4.0"